:root{
    font-size: 16px;;
}



body{
    background:rgba(58, 186, 186, 0.5)
    
}

.wrapper{
    background: radial-gradient(rgba(116, 223, 199, 0.3), rgb(255,255,255));
    border-radius: 0.4rem;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(170,200,200, 0.5);
    height:90vh;
    width:55vw;
    margin-inline:auto;
    margin-block:auto;
    
}


#navigation{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 1rem;
}